<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <style>
        body { font-family: Arial, sans-serif; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
<h1>User List</h1>
<a href="/admin/new">Add New User</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Sex</th>
        <th>FavoriteSport</th>
        <th>Password</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.sex}"></td>
        <td th:text="${user.favoriteSport}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <ul>
                <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value = "Logout"/>
</form>
</body>
</html>